name: name-experiment  # Trying using a different name from the YAML file name to see what effect that has
on: [push]
jobs:

  code-quality-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Get contents from tip of branch on push
        uses: actions/checkout@v2  # When do I switch to v3? Do I need this line?

      - name: Set up Node
        uses: actions/setup-node@v2  # Do I need this line?
      - name: Install Node dependencies  # CHECK - ok to not specify version?
        run: npm install
      - name: Check for valid JSON
        run: grunt jsonreview -v
      
      - name: Set up Python
        uses: actions/setup-python@v2  # Do I need this line?
        with:
          python-version: '3.x'
      - name: Check Python version
        run: python -c "import sys; print (sys.version)"
      # - name: Install Python dependencies
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install flake8
      # - name: Check Python code quality
      #   run: flake8 --exclude docs/conf.py --max-line-length=100

  tests:
    runs-on: ubuntu-latest

    # Specify python versions to run
    strategy:
      matrix:
        python: [3.6, 3.7, 3.8, 3.9]

    steps:
      - name: Get contents from tip of branch on push
        uses: actions/checkout@v2  # When do I switch to v3? Do I need this line?

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2  # Do I need this line?
        with:
          python-version: ${{ matrix.python }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy>=1.16 scipy requests numpy-financial
      # Run tests
      - name: Run tests
        run: python -m unittest discover -p '*_tests.py'



